@using HotelHero.HotelsDatabase;
@using HotelHero.UserPanel.Enums
@using HotelHero.WebMVC.Interface
@model HotelHero.WebMVC.Models.Reservation;

@{
	ViewData["Title"] = "Index";
}

<div class="card mb-3">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="@Model.Hotel.Image" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<div class="d-inline-block p-1">
					<h5 class="card-title">@Model.Hotel.Name</h5>
				</div>
				<div class="d-inline-block p-1">
					<p class="card-text">@Model.Hotel.CreateStars()</p>
				</div>
				<div class="card-text">@Model.Hotel.City, @Model.Hotel.Address</div>
				<div class="card-text">
					@if (Model.Hotel.Description.Length < 100)
					{
						<label>@Model.Hotel.Description.Substring(0, @Model.Hotel.Description.Length)...</label>
					}
					else
					{
						<label>@Model.Hotel.Description.Substring(0, 100)...</label>
					}
					</div>
					<div class="card-text">@Model.CheckInDate - @Model.CheckOutDate</div>
					<div class="card-text">People: @Model.AmountOfPeople</div>
					<div class="card-text">Cost per night: @Model.CostPerNight</div>

				<a class="btnCustom btnCustom-custom" asp-action="MakeReservation" asp-route-id="@Model.Id">Make reservation</a>

			</div>
		</div>
	</div>
</div>

