@using HotelHero.ReservationsDatabase

@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "Search results";
}

<h1>Search results</h1>

<ul>
    @foreach (var result in Model)
    {
            <li>
                Hotel: @result.Hotel.Name
            </li>
            <li>
                Stars: @result.Hotel.CreateStars()
            </li>
            <li>
                Address: @result.Hotel.Address
            </li>
            <li>
                Description: @result.Hotel.Description
            </li>
            <li>
                Rating: @result.Hotel.Rating
            </li>
            <li>
                Check in: @result.CheckInDate
            </li>
            <li>
                Check out: @result.CheckOutDate
            </li>
            <li>
                People: @result.AmountOfPeople
            </li>
            <li>
                Cost per night: @result.CostPerNight
            </li>
        @if (UserContext.GetUser() != null)
        {
            <a class="btnCustom btnCustom-custom" asp-action="MakeReservation" asp-route-id="@result.Id">Make reservation</a>
        }
        else
        {
            <div id="popover2" popover="manual">
                <p>Nie jesteś zalogowany!</p>
                <p>Aby kontynuować zaloguj się !</p>
                <a class="btnCustom btnCustom-custom" asp-action="RedirectToLogin">Zaloguj się!</a>
                <button class="btnCustom btnCustom-custom" popovertarget="popover2" popovertargetaction="hide">Zamknij</button>
            </div>
            <button class="btnCustom btnCustom-custom" popovertarget="popover2" popovertargetaction="show">Make reservation</button>
        }
    }
</ul>
