@using HotelHero.HotelsDatabase;
@using HotelHero.WebMVC.Interface
@model Hotel
@inject ICustomerDataService customerDataService;

@{
    ViewData["Title"] = "Index";
    CustomerData customerData = new();
    if (UserContext.GetUser() != null)
    {
        customerData = customerDataService.GetCustomerData();
        if (customerData.Favourites == null)
        {
            customerData.Favourites = new List<int>();
        }
    }
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.Image" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-inline-block p-1">
                    <h5 class="card-title">@Model.Name</h5>
                </div>
                <div class="d-inline-block p-1">
                    <p class="card-text">@Model.CreateStars()</p>
                </div>
                <div class="card-text">@Model.City, @Model.Address</div>
                <div class="card-text">@Model.Description</div>
                <a class="btn btn-primary" style="background: linear-gradient(to top right, #66ff99 10%, #0000ff 100%);" asp-action="Details" asp-route-id="@Model.Id">Details</a>
                @if (UserContext.GetUser()?.UserRole == HotelHero.UserPanel.Enums.UserRole.Admin)
                {
                    <a class="btn btn-primary" style="background: linear-gradient(to top right, #66ff99 10%, #0000ff 100%);" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-primary" style="background: linear-gradient(to top right, #66ff99 10%, #0000ff 100%);" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
                @if (UserContext.GetUser() != null)
                {
                    if (customerData.Favourites.Contains(Model.Id))
                    {
                        <a asp-action="Unfavourite" asp-route-id="@Model.Id">Unfavourite</a>
                    }
                    else
                    {
                        <a asp-action="Favourite" asp-route-id="@Model.Id">Favourite</a>
                    }
                }


            </div>
        </div>
    </div>

</div>

