@model HotelHero.HotelsDatabase.Hotel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <div class="col">
            <picture>
                <img src="@Model.Image" height="200" width="200" />
            </picture>
        </div>
        <div class="col" style="align-self: start">
            <div class="row">
                <h2>@Model.Name @Model.CreateStars()</h2>
            </div>
            <div class="row">
                <label>Address: @Model.Address, @Model.City</label>
            </div>
            <div class="row">
                <label>Rating: @Model.Rating</label>
            </div>
        </div>
    </div>
    <div class="row">
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </div>
</div>
<div>
    @if (Model.IsFreeWiFi)
    {
        <dd class="col-sm-2">
            Free Wifi
        </dd>
    }
    @if (Model.IsPrivateParking)
    {
        <dd class="col-sm-2">
            Private parking
        </dd>
    }
    @if (Model.IsRestaurant)
    {
        <dd class="col-sm-2">
            Restaurant open: 8.00 - 22.00
        </dd>
    }
    @if (Model.IsBar)
    {
        <dd class="col-sm-2">
            Bar 24/7
        </dd>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
