@model HotelHero.WebMVC.ViewModels.HotelDetailViewModel;

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row">
        <div class="col">
            <picture>
                <img src="@Model.Hotel.Image" height="200" width="200" />
            </picture>
        </div>
        <div class="col" style="align-self: start">
            <div class="row">
                <h2>@Model.Hotel.Name @Model.Hotel.CreateStars()</h2>
            </div>
            <div class="row">
                <label>Address: @Model.Hotel.Address, @Model.Hotel.City</label>
            </div>
            <div class="row">
                <label>Rating: @Model.Hotel.Rating</label>
            </div>
        </div>
    </div>
    <div class="row">
        <dd class="col-sm-10">
            @Model.Hotel.Description
        </dd>
    </div>
</div>
<div>
    @if (Model.Hotel.IsFreeWiFi)
    {
        <dd class="col-sm-2">
            Free Wifi
        </dd>
    }
    @if (Model.Hotel.IsPrivateParking)
    {
        <dd class="col-sm-2">
            Private parking
        </dd>
    }
    @if (Model.Hotel.IsRestaurant)
    {
        <dd class="col-sm-2">
            Restaurant open: 8.00 - 22.00
        </dd>
    }
    @if (Model.Hotel.IsBar)
    {
        <dd class="col-sm-2">
            Bar 24/7
        </dd>
    }
</div>


<div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    <label>Check in date</label>
                </th>
                <th>
                    <label>Check out date</label>
                </th>
                <th>
                    <label>Amount of people</label>
                </th>
                <th>
                    <label>Cost per night</label>
                </th>
                <th>
                    <label>Reservation</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReservationDatas)
            {
                <tr>
                    <td>
                        @item.CheckInDate
                    </td>
                    <td>
                        @item.CheckOutDate
                    </td>
                    <td>
                        @item.AmountOfPeople
                    </td>
                    <td>
                        @item.CostPerNight
                    </td>
                    <td>

                        @if (UserContext.GetUser() != null)
                        {
                            <a class="btn btn-outline-success me-2" asp-action="MakeReservation" asp-route-id="@item.Id">Make reservation</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-success me-2" asp-controller="LogIn" asp-action="LogIn">Log in to make resevation!</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





<div>
    <a class="btn btn-outline-danger me-2" asp-action="Index">Back to List</a>
</div>
