@model IEnumerable<HotelHero.HotelsDatabase.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hotels</h1>

@if (UserContext.GetUser()?.UserRole == HotelHero.UserPanel.Enums.UserRole.Admin)
{
    <p>
        <a asp-action="Create">Add new meeting</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Address"></label>
            </th>
            <th>
                <label asp-for="First().City"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                <label asp-for="First().Stars"></label>
            </th>
            <th>
                <label asp-for="First().Rating"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.CreateStars()
                </td>
                <td>
                    @item.Rating
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (UserContext.GetUser()?.UserRole == HotelHero.UserPanel.Enums.UserRole.Admin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
