@model IEnumerable<HotelHero.WebMVC.Models.AdditionalService>

@{
    ViewData["Title"] = "AdditionalServicesList";
}

<div class="container">
    <div class="row">
        <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px">
            <a class="d-flex flex-column align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5">Menu</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="btn text-decoration-none" asp-controller="AdminPanel" asp-action="Users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-controller="AdminPanel" asp-action="AdditionalServicesList">Additional services</a>
                </li>
            </ul>
        </aside>
        <div class="col">
            <h1>Additional services list</h1>
            <p>
                <a asp-action="CreateAdditionalService">Add new service</a>
            </p>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>
                            <label asp-for="First().Id"></label>
                        </th>
                        <th>
                            <label asp-for="First().Name"></label>
                        </th>
                        <th>
                            <label asp-for="First().Cost"></label>
                        </th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Cost
                            </td>
                            <td>
                                <div id="@item.Id" popover="manual">
                                    <p>Do you want to remove service?</p>
                                    <a class="btn btn-outline-success me2" asp-action="DeleteAdditionalService" asp-route-id="@item.Id">Confirm</a>
                                    <button class="btn btn-outline-success me2" popovertarget="@item.Id" popovertargetaction="hide">Cancel</button>
                                </div>

                                <a asp-action="EditAdditionalService" asp-route-id="@item.Id">
                                    <img src="https://cdn.pixabay.com/photo/2022/01/11/21/48/edit-6931553_640.png" height="35" width="35" />
                                </a>
                                <button class="border-0" popovertarget="@item.Id" popovertargetaction="show">
                                    <img src="https://t4.ftcdn.net/jpg/03/46/38/39/360_F_346383913_JQecl2DhpHy2YakDz1t3h0Tk3Ov8hikq.jpg" height="35" width="35" />
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
