@model IEnumerable<HotelHero.WebMVC.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                <label asp-for="First().Email"></label>
            </th>
            <th>
                <label asp-for="First().Password"></label>
            </th>
            <th>
                <label asp-for="First().UserRole"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.UserRole
                </td>
                <td>
                    <a asp-action="UserEdit" asp-route-id="@item">
                        <img src="https://cdn.pixabay.com/photo/2022/01/11/21/48/edit-6931553_640.png" height="35" width="35"/>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item">
                        <img src="https://t4.ftcdn.net/jpg/03/46/38/39/360_F_346383913_JQecl2DhpHy2YakDz1t3h0Tk3Ov8hikq.jpg" height="35" width="35"/>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
