@model HotelHero.WebMVC.Models.CustomerData

@{
    ViewData["Title"] = "CustomerData";
}

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="children">
                <a class="btn-dark" asp-area="" asp-controller="CustomerPanel" asp-action="CustomerData">Customer Data</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="CustomerPanel" asp-action="Reservations">Your reservations</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="CustomerPanel" asp-action="StaysHistory">History of stays</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="CustomerPanel" asp-action="">Payment history (coming soon)</a>
            </div>

            <div class="children">
                <a class="btn" asp-area="" asp-controller="CustomerPanel" asp-action="Favourites">Favourites</a>
            </div>

        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="LastName"></label>
                        </th>
                        <th>
                            <label asp-for="FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="DateOfBirth"></label>
                        </th>
                        <th>
                            <label asp-for="Address"></label>
                        </th>
                        <th>
                            <label asp-for="Phone"></label>
                        </th>
                        <th>
                            <label asp-for="Rodo"></label>
                        </th>
                        <th>
                            <label asp-for="Newsletter"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.LastName
                        </td>
                        <td>
                            @Model.FirstName
                        </td>
                        <td>
                            @Model.DateOfBirth
                        </td>
                        <td>
                            @Model.Address
                        </td>
                        <td>
                            @Model.Phone
                        </td>
                        <td>
                            @Model.Rodo
                        </td>
                        <td>
                            @Model.Newsletter
                        </td>
                        <td>
                            <a asp-action="CustomerDataEdit" asp-route-id="@Model.Email">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
