@model HotelHero.WebMVC.Models.CustomerData

@{
    ViewData["Title"] = "CustomerData";
}

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action list-group-item-info active">
                    <a class="btn" asp-action="CustomerData">Customer Data</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="Reservations">Your reservations</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="PaymentsHistory">Payments history</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="Wallet">Your wallet</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="Favourites">Favourites</a>
                </button>
            </div>
        </div>
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>
                            <label asp-for="LastName"></label>
                        </th>
                        <th>
                            <label asp-for="FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="DateOfBirth"></label>
                        </th>
                        <th>
                            <label asp-for="Address"></label>
                        </th>
                        <th>
                            <label asp-for="Phone"></label>
                        </th>
                        <th>
                            <label asp-for="Rodo"></label>
                        </th>
                        <th>
                            <label asp-for="Newsletter"></label>
                        </th>
                        <th>
                            <label>Edit</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.LastName
                        </td>
                        <td>
                            @Model.FirstName
                        </td>
                        <td>
                            @Model.DateOfBirth.ToShortDateString()
                        </td>
                        <td>
                            @Model.Address
                        </td>
                        <td>
                            @Model.Phone
                        </td>
                        <td>
                            @Model.Rodo
                        </td>
                        <td>
                            @Model.Newsletter
                        </td>
                        <td>
                            <a asp-action="CustomerDataEdit" asp-route-id="@Model.CustomerId">
                                <img src="https://cdn.pixabay.com/photo/2022/01/11/21/48/edit-6931553_640.png" height="35" width="35" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
