@model IEnumerable<HotelHero.HotelsDatabase.Hotel>

@{
    ViewData["Title"] = "Favourites";
}

<h1>Favourites</h1>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="children">
                <a class="btn" asp-action="CustomerData">Customer Data</a>
            </div>

            <div class="children">
                <a class="btn" asp-action="Reservations">Your reservations</a>
            </div>

            <div class="children">
                <a class="btn" asp-action="StaysHistory">History of stays</a>
            </div>

            <div class="children">
                <a class="btn" asp-action="Wallet">Your wallet</a>
            </div>

            <div class="children">
                <a class="btn-dark" asp-action="Favourites">Favourites</a>
            </div>

        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="First().Name"></label>
                        </th>
                        <th>
                            <label asp-for="First().Address"></label>
                        </th>
                        <th>
                            <label asp-for="First().City"></label>
                        </th>
                        <th>
                            <label asp-for="First().Description"></label>
                        </th>
                        <th>
                            <label asp-for="First().Stars"></label>
                        </th>
                        <th>
                            <label asp-for="First().Rating"></label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Address
                            </td>
                            <td>
                                @item.City
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @item.CreateStars()
                            </td>
                            <td>
                                @item.Rating
                            </td>
                            <td>

                                <a asp-action="FavouriteDetails" asp-route-id="@item.Id">Details</a>
                                <a asp-action="Unfavourite" asp-route-id="@item.Id">Unfavourite</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
