@model IEnumerable<HotelHero.WebMVC.Models.Reservation>
@{
    ViewData["Title"] = "Reservations";
}

<div class="container">
    <div class="row">
        <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px">
            <a class="d-flex flex-column align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5">Menu</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="btn text-decoration-none" asp-action="CustomerData">Customer data</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Reservations">Your reservations</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="PaymentsHistory">Payments history</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Wallet">Your wallet</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Favourites">Favourites</a>
                </li>
            </ul>
        </aside>
        <div class="col">
            <h1>Your reservations</h1>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul>
                            <li>
                                Hotel: @item.Hotel.Name
                            </li>
                            <li>
                                Stars: @item.Hotel.CreateStars()
                            </li>
                            <li>
                                Address: @item.Hotel.Address
                            </li>
                            <li>
                                Description: @item.Hotel.Description
                            </li>
                            <li>
                                Rating: @item.Hotel.Rating
                            </li>
                            <li>
                                Check in: @item.CheckInDate
                            </li>
                            <li>
                                Check out: @item.CheckOutDate
                            </li>
                            <li>
                                People: @item.AmountOfPeople
                            </li>
                            <li>
                                Cost per night: @item.CostPerNight
                            </li>
                            <li>
                                Status: @item.Status
                            </li>
                        </ul>
                    </td>
                    <td>
                        <div id="popover2" popover="manual">
                            <p>Do you want to cancel reservation?</p>
                            <a class="btn btn-outline-success me2" asp-action="CancelReservation" asp-route-id="@item.Id">Yes</a>
                            <button class="btn btn-outline-success me2" popovertarget="popover2" popovertargetaction="hide">Cancel</button>
                        </div>
                        <button class="btn btn-outline-success me2" popovertarget="popover2" popovertargetaction="show">
                            <img src="https://t4.ftcdn.net/jpg/03/46/38/39/360_F_346383913_JQecl2DhpHy2YakDz1t3h0Tk3Ov8hikq.jpg" height="35" width="35" />
                        </button>

                    </td>
                </tr>
            }
        </div>
    </div>
</div>
