@model IEnumerable<HotelHero.ReservationsDatabase.Reservation>
@{
    ViewData["Title"] = "Reservations";
}

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="CustomerData">Customer Data</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info active">
                    <a class="btn" asp-action="Reservations">Your reservations</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="PaymentsHistory">Payments history</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="Wallet">Your wallet</a>
                </button>

                <button type="button" class="list-group-item list-group-item-action list-group-item-info">
                    <a class="btn" asp-action="Favourites">Favourites</a>
                </button>
            </div>

        </div>
        <div class="col">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul>
                            <li>
                                Hotel: @item.Hotel.Name
                            </li>
                            <li>
                                Stars: @item.Hotel.CreateStars()
                            </li>
                            <li>
                                Address: @item.Hotel.Address
                            </li>
                            <li>
                                Description: @item.Hotel.Description
                            </li>
                            <li>
                                Rating: @item.Hotel.Rating
                            </li>
                            <li>
                                Check in: @item.CheckInDate
                            </li>
                            <li>
                                Check out: @item.CheckOutDate
                            </li>
                            <li>
                                People: @item.AmountOfPeople
                            </li>
                            <li>
                                Cost per night: @item.CostPerNight
                            </li>
                            <li>
                                Status: @item.Status
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a asp-action="CancelReservation" asp-route-id="@item.Id">
                            <img src="https://t4.ftcdn.net/jpg/03/46/38/39/360_F_346383913_JQecl2DhpHy2YakDz1t3h0Tk3Ov8hikq.jpg" height="35" width="35" />
                        </a>
                    </td>
                </tr>
            }
        </div>
    </div>
</div>
