@model IEnumerable<HotelHero.WebMVC.Models.Reservation>
@{
    ViewData["Title"] = "Reservations";
}

<div class="container">
    <div class="row">
        <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px">
            <a class="d-flex flex-column align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5">Menu</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="btn text-decoration-none" asp-action="CustomerData">Customer data</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Reservations">Your reservations</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="PaymentsHistory">Payments history</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Wallet">Your wallet</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-decoration-none" asp-action="Favourites">Favourites</a>
                </li>
            </ul>
        </aside>
        <div class="col">
            <h1>Your reservations</h1>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>
                            <label asp-for="First().Hotel">Reservation</label>
                        </th>
                        <th>
                            <label asp-for="First().Status">Status</label>
                        </th>
                        <th>
                            <label>Actions</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                Hotel: @item.Hotel.Name
                                @item.Hotel.CreateStars()
                                <br />
                                Address: @item.Hotel.Address, @item.Hotel.City
                                <br />

                                Period of stay: @item.CheckInDate.ToShortDateString() - @item.CheckOutDate.ToShortDateString()
                                for @item.AmountOfPeople people
                            </td>
                            <td>
                                Status: @item.Status
                            </td>
                            <td>
                                <div id="popover2" popover="manual" style="background: linear-gradient(to top right, #66ff99 0%, #0000ff 100%);">
                                    <p style="color: white">Do you want to cancel reservation?</p>
                                    <a class="btn btn-outline-success me2" style="color: white; border-color:white; border-width:2px" asp-action="CancelReservation" asp-route-id="@item.Id">Yes</a>
                                    <button class="btn btn-outline-success me2" style="color: white; border-color:white; border-width:2px"  popovertarget="popover2" popovertargetaction="hide">Cancel</button>
                                </div>
                                <button class="btn btn-outline-danger me2" popovertarget="popover2" popovertargetaction="show">
                                    Delete
                                </button>

                            </td>
                        </tr>
                    }
        </div>
    </div>
</div>
