@model IEnumerable<HotelHero.ReservationsDatabase.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>My reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().CheckInDate"></label>
            </th>
            <th>
                <label asp-for="First().CheckOutDate"></label>
            </th>
            <th>
                <label asp-for="First().AmountOfPeople"></label>
            </th>
            <th>
                <label asp-for="First().Hotel.Name"></label>
            </th>
            <th>
                <label asp-for="First().Status"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CheckInDate
                </td>
                <td>
                    @item.CheckOutDate
                </td>
                <td>
                    @item.AmountOfPeople
                </td>
                <td>
                    @item.Hotel.Name, @item.Hotel.City
                </td>
                <td>
                    @item.Status
                </td>
            </tr>
        }
    </tbody>
</table>
