@model HotelHero.WebMVC.Models.Payment

You are about to pay for reservation:
<ul>
    <li>
        Hotel: @Model.Reservation.Hotel.Name
    </li>
    <li>
        Stars: @Model.Reservation.Hotel.CreateStars()
    </li>
    <li>
        Address: @Model.Reservation.Hotel.Address
    </li>
    <li>
        Rating: @Model.Reservation.Hotel.Rating
    </li>
    <li>
        Check in: @Model.Reservation.CheckInDate
    </li>
    <li>
        Check out: @Model.Reservation.CheckOutDate
    </li>
    <li>
        People: @Model.Reservation.AmountOfPeople
    </li>
    <li>
        Cost per night: @Model.Reservation.CostPerNight
    </li>
</ul>

<a class="btn btn-outline-success me-2" asp-action="PaymentAdditionalServices" asp-route-id="@Model.PaymentId">Select additional services</a>
<a class="btn btn-outline-danger me-2" asp-action="CancelPayment" asp-route-id="@Model.PaymentId">Cancel</a>

</ul>