@model HotelHero.ReservationsDatabase.Reservation

You are about to pay for reservation:
<ul>
    <li>
        Hotel: @Model.Hotel.Name
    </li>
    <li>
        Stars: @Model.Hotel.CreateStars()
    </li>
    <li>
        Address: @Model.Hotel.Address
    </li>
    <li>
        Description: @Model.Hotel.Description
    </li>
    <li>
        Rating: @Model.Hotel.Rating
    </li>
    <li>
        Check in: @Model.CheckInDate
    </li>
    <li>
        Check out: @Model.CheckOutDate
    </li>
    <li>
        People: @Model.AmountOfPeople
    </li>
    <li>
        Cost per night: @Model.CostPerNight
    </li>
    <li>
        Status: @Model.Status
    </li>
    <a asp-action="Pay" asp-route-id="@Model.Id">Pay</a>
    <a asp-action="Cancel" asp-route-id="@Model.Id">Cancel</a>

</ul>